:root {
  color-scheme: light;
  --font-family-sans: "Instrument Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif;
  --typography-display-s-font-size: 64px;
  --typography-display-s-line-height: 120%;
  --typography-display-s-font-weight: 600;
  --typography-display-s-letter-spacing: -0.02em;
  --typography-heading-h1-font-size: 56px;
  --typography-heading-h1-line-height: 120%;
  --typography-heading-h1-font-weight: 600;
  --typography-heading-h1-letter-spacing: -0.04em;
  --typography-heading-h2-font-size: 48px;
  --typography-heading-h2-line-height: 120%;
  --typography-heading-h2-font-weight: 600;
  --typography-heading-h2-letter-spacing: -0.04em;
  --typography-heading-h3-font-size: 40px;
  --typography-heading-h3-line-height: 120%;
  --typography-heading-h3-font-weight: 600;
  --typography-heading-h3-letter-spacing: -0.04em;
  --typography-heading-h4-font-size: 32px;
  --typography-heading-h4-line-height: 120%;
  --typography-heading-h4-font-weight: 600;
  --typography-heading-h4-letter-spacing: -0.04em;
  --typography-heading-h5-font-size: 24px;
  --typography-heading-h5-line-height: 120%;
  --typography-heading-h5-font-weight: 600;
  --typography-heading-h5-letter-spacing: -0.04em;
  --typography-heading-h6-font-size: 20px;
  --typography-heading-h6-line-height: 140%;
  --typography-heading-h6-font-weight: 600;
  --typography-heading-h6-letter-spacing: -0.04em;
  --typography-body-x-large-bold-font-size: 18px;
  --typography-body-x-large-bold-line-height: 140%;
  --typography-body-x-large-bold-font-weight: 700;
  --typography-body-x-large-bold-letter-spacing: -0.04em;
  --typography-body-x-large-semibold-font-size: 18px;
  --typography-body-x-large-semibold-line-height: 140%;
  --typography-body-x-large-semibold-font-weight: 600;
  --typography-body-x-large-semibold-letter-spacing: -0.04em;
  --typography-body-x-large-medium-font-size: 18px;
  --typography-body-x-large-medium-line-height: 140%;
  --typography-body-x-large-medium-font-weight: 500;
  --typography-body-x-large-medium-letter-spacing: -0.04em;
  --typography-body-x-large-regular-font-size: 18px;
  --typography-body-x-large-regular-line-height: 140%;
  --typography-body-x-large-regular-font-weight: 400;
  --typography-body-x-large-regular-letter-spacing: -0.04em;
  --typography-body-large-bold-font-size: 16px;
  --typography-body-large-bold-line-height: 150%;
  --typography-body-large-bold-font-weight: 700;
  --typography-body-large-bold-letter-spacing: -0.04em;
  --typography-body-large-semibold-font-size: 16px;
  --typography-body-large-semibold-line-height: 150%;
  --typography-body-large-semibold-font-weight: 600;
  --typography-body-large-semibold-letter-spacing: -0.04em;
  --typography-body-large-medium-font-size: 16px;
  --typography-body-large-medium-line-height: 150%;
  --typography-body-large-medium-font-weight: 500;
  --typography-body-large-medium-letter-spacing: -0.04em;
  --typography-body-large-regular-font-size: 16px;
  --typography-body-large-regular-line-height: 150%;
  --typography-body-large-regular-font-weight: 400;
  --typography-body-large-regular-letter-spacing: -0.04em;
  --typography-body-medium-bold-font-size: 14px;
  --typography-body-medium-bold-line-height: 150%;
  --typography-body-medium-bold-font-weight: 700;
  --typography-body-medium-bold-letter-spacing: -0.04em;
  --typography-body-medium-semibold-font-size: 14px;
  --typography-body-medium-semibold-line-height: 150%;
  --typography-body-medium-semibold-font-weight: 600;
  --typography-body-medium-semibold-letter-spacing: -0.04em;
  --typography-body-medium-medium-font-size: 14px;
  --typography-body-medium-medium-line-height: 150%;
  --typography-body-medium-medium-font-weight: 500;
  --typography-body-medium-medium-letter-spacing: -0.04em;
  --typography-body-medium-regular-font-size: 14px;
  --typography-body-medium-regular-line-height: 150%;
  --typography-body-medium-regular-font-weight: 400;
  --typography-body-medium-regular-letter-spacing: -0.04em;
  --typography-body-small-bold-font-size: 12px;
  --typography-body-small-bold-line-height: 150%;
  --typography-body-small-bold-font-weight: 700;
  --typography-body-small-bold-letter-spacing: -0.04em;
  --typography-body-small-semibold-font-size: 12px;
  --typography-body-small-semibold-line-height: 150%;
  --typography-body-small-semibold-font-weight: 600;
  --typography-body-small-semibold-letter-spacing: -0.04em;
  --typography-body-small-medium-font-size: 12px;
  --typography-body-small-medium-line-height: 150%;
  --typography-body-small-medium-font-weight: 500;
  --typography-body-small-medium-letter-spacing: -0.04em;
  --typography-body-small-regular-font-size: 12px;
  --typography-body-small-regular-line-height: 150%;
  --typography-body-small-regular-font-weight: 400;
  --typography-body-small-regular-letter-spacing: -0.04em;
  --typography-body-xsmall-bold-font-size: 10px;
  --typography-body-xsmall-bold-line-height: 150%;
  --typography-body-xsmall-bold-font-weight: 700;
  --typography-body-xsmall-bold-letter-spacing: -0.04em;
  --typography-body-xsmall-semibold-font-size: 10px;
  --typography-body-xsmall-semibold-line-height: 150%;
  --typography-body-xsmall-semibold-font-weight: 600;
  --typography-body-xsmall-semibold-letter-spacing: -0.04em;
  --typography-body-xsmall-medium-font-size: 10px;
  --typography-body-xsmall-medium-line-height: 150%;
  --typography-body-xsmall-medium-font-weight: 500;
  --typography-body-xsmall-medium-letter-spacing: -0.04em;
  --typography-body-xsmall-regular-font-size: 10px;
  --typography-body-xsmall-regular-line-height: 150%;
  --typography-body-xsmall-regular-font-weight: 400;
  --typography-body-xsmall-regular-letter-spacing: -0.04em;
  --color-orange-100: #fff1eb;
  --color-orange-200: #ffd9c9;
  --color-orange-300: #ffb79c;
  --color-orange-400: #ff8a5f;
  --color-orange-500: #f1672c;
  --color-orange-600: #d95522;
  --color-orange-700: #b8471c;
  --color-orange-800: #913716;
  --color-orange-900: #6b2910;
  --color-blue-100: #e6eef2;
  --color-blue-200: #c0d3dc;
  --color-blue-300: #8fafbe;
  --color-blue-400: #5b879f;
  --color-blue-500: #113a52;
  --color-blue-600: #0e3247;
  --color-blue-700: #0b2a3b;
  --color-blue-800: #081f2c;
  --color-blue-900: #05151e;
  --color-gray-50: #fafafa;
  --color-gray-100: #f0f1f2;
  --color-gray-200: #d9dbdd;
  --color-gray-300: #c2c5c8;
  --color-gray-400: #a3a7ab;
  --color-gray-500: #7f8489;
  --color-gray-600: #61666b;
  --color-gray-700: #44484d;
  --color-gray-800: #2c2f33;
  --color-gray-900: #1b1b1b;
  --color-yellow-100: #fff4e5;
  --color-yellow-200: #ffe2bf;
  --color-yellow-300: #ffc980;
  --color-yellow-400: #ffae40;
  --color-yellow-500: #f79009;
  --color-yellow-600: #d97e08;
  --color-yellow-700: #b36807;
  --color-yellow-800: #8c5105;
  --color-yellow-900: #663a04;
  --color-green-100: #e6f6ec;
  --color-green-200: #bfe8cf;
  --color-green-300: #80d1a5;
  --color-green-400: #40ba7a;
  --color-green-500: #00a63e;
  --color-green-600: #009236;
  --color-green-700: #007a2e;
  --color-green-800: #005f24;
  --color-green-900: #00441a;
  --color-purple-100: #f4e7ff;
  --color-purple-200: #e3c7ff;
  --color-purple-300: #c78fff;
  --color-purple-400: #a94bff;
  --color-purple-500: #9810fa;
  --color-purple-600: #860ee0;
  --color-purple-700: #700cc0;
  --color-purple-800: #59099a;
  --color-purple-900: #420774;
  --color-iblue-100: #e8eeff;
  --color-iblue-200: #c7d6ff;
  --color-iblue-300: #8faeff;
  --color-iblue-400: #4b7fff;
  --color-iblue-500: #155dfc;
  --color-iblue-600: #124fe0;
  --color-iblue-700: #0f42bf;
  --color-iblue-800: #0b3399;
  --color-iblue-900: #082473;
  --color-pink-100: #ffe6f1;
  --color-pink-200: #ffc2dc;
  --color-pink-300: #ff85b8;
  --color-pink-400: #ff4794;
  --color-pink-500: #ff0074;
  --color-pink-600: #e00066;
  --color-pink-700: #bf0056;
  --color-pink-800: #990044;
  --color-pink-900: #730033;
  --color-red-100: #fdecec;
  --color-red-200: #f9d2cf;
  --color-red-300: #f5a8a3;
  --color-red-400: #ee6f67;
  --color-red-500: #f04438;
  --color-red-600: #d93b31;
  --color-red-700: #b73129;
  --color-red-800: #8f2721;
  --color-red-900: #661b17;
  --brand-primary-subtle: #fff1eb;
  --brand-primary-muted: #ffd9c9;
  --brand-primary-soft: #ffb79c;
  --brand-primary-main: #f1672c;
  --brand-primary-strong: #d95522;
  --brand-primary-bold: #b8471c;
  --brand-primary-intense: #6b2910;
  --brand-secondary-subtle: #e6eef2;
  --brand-secondary-muted: #c0d3dc;
  --brand-secondary-soft: #8fafbe;
  --brand-secondary-main: #113a52;
  --brand-secondary-strong: #0e3247;
  --brand-secondary-bold: #0b2a3b;
  --brand-secondary-intense: #05151e;
  --background-primary: #fafafa;
  --background-secondary: #f0f1f2;
  --background-tertiary: #d9dbdd;
  --content-primary: #1b1b1b;
  --content-secondary: #2c2f33;
  --content-tertiary: #44484d;
  --content-inverse: #f0f1f2;
  --border-primary: #f0f1f2;
  --border-secondary: #d9dbdd;
  --border-tertiary: #c2c5c8;
  --feedback-error-content: #d93b31;
  --feedback-error-background: #fdecec;
  --feedback-error-border: #f5a8a3;
  --feedback-success-content: #009236;
  --feedback-success-background: #e6f6ec;
  --feedback-success-border: #80d1a5;
  --feedback-warning-content: #8c5105;
  --feedback-warning-background: #fff4e5;
  --feedback-warning-border: #ffc980;
  --feedback-info-content: #0f42bf;
  --feedback-info-background: #e8eeff;
  --feedback-info-border: #8faeff;
  --accent-pink-content: #e00066;
  --accent-pink-background: #ffe6f1;
  --accent-purple-content: #860ee0;
  --accent-purple-background: #f4e7ff;
  --accent-blue-content: #0f42bf;
  --accent-blue-background: #e8eeff;
  --accent-green-content: #009236;
  --accent-green-background: #e6f6ec;
  --accent-yellow-content: #8c5105;
  --accent-yellow-background: #fff4e5;
  --button-focus-ring: #8fafbe;
  --button-primary-background-enabled: #f1672c;
  --button-primary-background-hover: #d95522;
  --button-primary-background-pressed: #b8471c;
  --button-primary-background-disabled: #c2c5c8;
  --button-primary-shadow-enabled: inset 0 4px 12px 0 #ff8a5f;
  --button-primary-content-enabled: #fafafa;
  --button-primary-content-hover: #fafafa;
  --button-primary-content-pressed: #fafafa;
  --button-primary-content-disabled: #44484d;
  --button-secondary-background-enabled: transparent;
  --button-secondary-background-hover: #fafafa;
  --button-secondary-background-pressed: #f0f1f2;
  --button-secondary-background-disabled: transparent;
  --button-secondary-content-enabled: #113a52;
  --button-secondary-content-hover: #0e3247;
  --button-secondary-content-pressed: #0b2a3b;
  --button-secondary-content-disabled: #7f8489;
  --button-secondary-border-width: 1px;
  --button-secondary-border-enabled: #d9dbdd;
  --button-secondary-border-hover: #c2c5c8;
  --button-secondary-border-pressed: #a3a7ab;
  --button-secondary-border-disabled: #c2c5c8;
  --button-secondary-border-focus: #8fafbe;
  --button-ghost-background-enabled: transparent;
  --button-ghost-background-hover: #f0f1f2;
  --button-ghost-background-pressed: #d9dbdd;
  --button-ghost-background-disabled: transparent;
  --button-ghost-content-enabled: #f1672c;
  --button-ghost-content-hover: #d95522;
  --button-ghost-content-pressed: #b8471c;
  --button-ghost-content-disabled: #7f8489;
}

.dark {
  color-scheme: dark;
  --brand-primary-subtle: #6b2910;
  --brand-primary-muted: #b8471c;
  --brand-primary-soft: #d95522;
  --brand-primary-main: #ff8a5f;
  --brand-primary-strong: #ffb79c;
  --brand-primary-bold: #ffd9c9;
  --brand-primary-intense: #fff1eb;
  --brand-secondary-subtle: #05151e;
  --brand-secondary-muted: #0b2a3b;
  --brand-secondary-soft: #0e3247;
  --brand-secondary-main: #5b879f;
  --brand-secondary-strong: #8fafbe;
  --brand-secondary-bold: #c0d3dc;
  --brand-secondary-intense: #e6eef2;
  --background-primary: #1b1b1b;
  --background-secondary: #2c2f33;
  --background-tertiary: #44484d;
  --content-primary: #f0f1f2;
  --content-secondary: #d9dbdd;
  --content-tertiary: #c2c5c8;
  --content-inverse: #1b1b1b;
  --border-primary: #2c2f33;
  --border-secondary: #44484d;
  --border-tertiary: #61666b;
  --feedback-error-content: #fdecec;
  --feedback-error-background: #661b17;
  --feedback-error-border: #d93b31;
  --feedback-success-content: #bfe8cf;
  --feedback-success-background: #00441a;
  --feedback-success-border: #009236;
  --feedback-warning-content: #ffe2bf;
  --feedback-warning-background: #663a04;
  --feedback-warning-border: #d97e08;
  --feedback-info-content: #c7d6ff;
  --feedback-info-background: #082473;
  --feedback-info-border: #124fe0;
  --accent-pink-content: #ffe6f1;
  --accent-pink-background: #730033;
  --accent-purple-content: #f4e7ff;
  --accent-purple-background: #420774;
  --accent-blue-content: #c7d6ff;
  --accent-blue-background: #082473;
  --accent-green-content: #bfe8cf;
  --accent-green-background: #00441a;
  --accent-yellow-content: #ffe2bf;
  --accent-yellow-background: #663a04;
  --button-focus-ring: #8fafbe;
  --button-primary-background-enabled: #ff8a5f;
  --button-primary-background-hover: #ffb79c;
  --button-primary-background-pressed: #ffd9c9;
  --button-primary-background-disabled: #2c2f33;
  --button-primary-shadow-enabled: inset 0 4px 12px 0 #ffb79c;
  --button-primary-content-enabled: #fafafa;
  --button-primary-content-hover: #fafafa;
  --button-primary-content-pressed: #fafafa;
  --button-primary-content-disabled: #7f8489;
  --button-secondary-background-enabled: transparent;
  --button-secondary-background-hover: #2c2f33;
  --button-secondary-background-pressed: #44484d;
  --button-secondary-background-disabled: transparent;
  --button-secondary-content-enabled: #5b879f;
  --button-secondary-content-hover: #8fafbe;
  --button-secondary-content-pressed: #c0d3dc;
  --button-secondary-content-disabled: #7f8489;
  --button-secondary-border-width: 1px;
  --button-secondary-border-enabled: #44484d;
  --button-secondary-border-hover: #61666b;
  --button-secondary-border-pressed: #7f8489;
  --button-secondary-border-disabled: #2c2f33;
  --button-secondary-border-focus: #8fafbe;
  --button-ghost-background-enabled: transparent;
  --button-ghost-background-hover: #2c2f33;
  --button-ghost-background-pressed: #44484d;
  --button-ghost-background-disabled: transparent;
  --button-ghost-content-enabled: #ff8a5f;
  --button-ghost-content-hover: #ffb79c;
  --button-ghost-content-pressed: #ffd9c9;
  --button-ghost-content-disabled: #7f8489;
}
